html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------END RESET-------------------- */

body {
    background: #EDF0F6;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.header {
  display: inline-flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  background-image: linear-gradient(#6d84b4, #3b5998 30%);
   padding-top: 30px;
   padding-bottom: 5px;
   width: 100%;
   color: white;
   margin-bottom: 50px;
}

.email-input, .password-input{
  margin-right: 15px;
  margin-top: 10px;
}

.email, .password{
display: inline;
position: absolute;
top: 2%;
margin-top: 10px;
}

.forgot{
  color: #7DB2DC;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin-left: 150px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  font-family: 'Karla', sans-serif;
  position: relative;
  padding-bottom: 0px;
  margin-bottom: -10px;
  line-height: .8;
}

.btn-login {
  color: white;
  background-color: #33529E
}

.container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  justify-content: left;
  margin-left: 220px;
  margin-right: 200px;
}
.slogan {
  width: 30%;
  font-size: 28px;
  margin-left: 220px;
  font-family: 'Karla', sans-serif;
  padding-top: 15px;
}
p{
  font-size: 18px;
}

.calltoaction{
  font-size: 36px;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}
h3 {
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  font-weight: 300;
}


.rsidebar {
  margin-top: -175px;
  margin-left: 15%;
}
